/node_modules

Thumbs.db
.DS_Store
.log
/web.config

/upload
/www
/bitrix
/_s/
/_html/
/www/_html/
/_doc/
robots.txt
/.htaccess
/www/.htaccess
/sitemap.xml
/sitemap*.xml
/desktop_app/
/images
*-for-test/
/test.php
/vendor
/pub
/public/.env.local

#atom
.ftpconfig
.ftpignore


# Ignore items
*.css.map
*.js.map
/.log
/*.tar.gz


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
